.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(91, 157, 210);
    border: 1px rgba(29, 29, 29, 0.699) solid;
    border-radius: 3px;
    height: 100px;
    margin: 10px;
    font-family: 'Roboto';
    font-size: 18px;
}

.nav button {
    background-color: rgb(189, 218, 215);
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
}