.detail {
    display: flex;
    flex-direction: column;
}

.titleDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(152, 125, 124);
    height: 80px;
    margin: 10px;
}

.title {
    margin-left: 100px;
    flex: 1;
}

.back {
    margin-right: 30px;
    align-self: flex-end;
    background-color: rgba(171, 218, 225);
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
}

.detailContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.imageDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10vw;
}

.imageDog {
    width: 40em;
    height: 40em;
    object-fit: cover;
    box-shadow: 10px 10px rgba(171, 218, 225);
    border-radius: 10px;
}

.titleDog {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.box {
    flex: 2;
    padding: 20px;
    text-align: left;
    margin-left: 5vw;
    margin-right: 15vw;
    background-color: rgba(171, 218, 225);
    border-radius: 10px;
}